<div *ngIf="currentRoute === '/to-be-assigned'">
    <app-custom-data-table [fileState] = "0" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/basic-info-pending'">
    <app-custom-data-table [fileState] = "1" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/scheduling-pending'">
    <app-custom-data-table [fileState] = "2" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/interview-pending'">
    <app-custom-data-table [fileState] = "3" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/documents-upload-pending'">
    <app-custom-data-table [fileState] = "4" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/other-docs-pending'">
    <app-custom-data-table [fileState] = "5" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/preparation-pending'">
    <app-custom-data-table [fileState] = "6" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/pre-synopsys-pending'">
    <app-custom-data-table [fileState] = "16" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/synopsys-pending'">
    <app-custom-data-table [fileState] = "7" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/payment-pending'">
    <app-custom-data-table [fileState] = "8" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/review-upload-pending'">
    <app-custom-data-table [fileState] = "9" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/review-confirmation-pending'">
    <app-custom-data-table [fileState] = "10" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/e-filing-pending'">
    <app-custom-data-table [fileState] = "11" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/p-filing-pending'">
    <app-custom-data-table [fileState] = "17" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/e-filing-complete'">
    <app-custom-data-table [fileState] = "13" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/p-filing-docs'">
    <app-custom-data-table [fileState] = "14" ></app-custom-data-table>
</div>
<div *ngIf="currentRoute === '/files-cancelled'">
    <app-custom-data-table [fileState] = "15" ></app-custom-data-table>
</div>