<div class="public">
    <app-topbar></app-topbar>
    <app-navbar></app-navbar>
        <div class="InnerBg">
                <div class="container">
                    <h1>Careers</h1>
                </div>
            </div>
            <section class="WelcomSec">
                <div class="container">
                    <div class="row align-items-center">
                        
                        <div class="col-12 col-md-8">
                            <h2>Join in Umpire Tax Solutions</h2>
                            <p>We welcome people from all backgrounds such as EA CA MBA B.COM B.TECH and more. Our distinctive approach to diversity is based on a belief that each of us is personally accountable for creating and sustaining an inclusive environment. Diversity and inclusion enhance our perspectives and our ability to give our clients a distinctive experience. Whether you're a fresh graduate or an experienced professional, we believe that a career at Umpire Tax Solutions will set you apart. Forward your C.V to</p>
                            <a href="mailto:Hello@umpiretaxsolutions.com" class="MailLink">Hello@umpiretaxsolutions.com</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ServiceSec1 mb-5">
                <div class="container">
                    <div class="Background">
                        <!-- <h4 class="pb-3">If it's not too much trouble please provide the following details of the Friend whom you wish to Refer.</h4> -->
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="mb-3">
                                    <input type="email" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mb-3">
                                    <input type="email" class="form-control" placeholder="Last Email">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mb-3">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mb-3">
                                    <input type="email" class="form-control" placeholder="Phone">
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <div class="mb-3">
                                    <textarea class="form-control" placeholder="Message" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <app-footer></app-footer>
        <app-login></app-login>
    </div>