<section class="Help">
    <div class="container">
        <div class="HelpBox">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <h3>Need help for your financial
                        and TAX services?</h3>
                </div>
                <div class="col-12 col-md-6 text-center text-md-right Number">
                    <img src="assets/call-icon.svg" class="CallIcon">
                    +1(515)-686-4275
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="SubRow1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <img src="assets/logo.svg" class="logo mb-4">
                    <p>Umpire Tax Solutions, LLC is Accounting and Taxation Company Providing various Financial Services in International Taxation, Accounting, Incorporations and Payroll Services.</p>
                    <div class="Social mb-2">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <h4>SERVICES</h4>
                    <div class="Links">
                        <a routerLink="/us-tax-services">US Tax Services</a>
                        <a routerLink="/us-tax-services">Individual Services</a>
                        <a routerLink="/us-tax-services">Business Services</a>
                        <a routerLink="/us-tax-services">Indian Tax Services</a>
                        <a routerLink="/us-tax-services">Advisory on Taxation</a>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <h4>QUICK LINKS</h4>
                    <div class="Links">
                        <a routerLink="/tax-center">Tax Center</a>
                        <a routerLink="/careers">Careers</a>
                        <a routerLink="/testimonials">Testimonials</a>
                        <a routerLink="/privacy-policy">Privacy Policy</a>
                        <a routerLink="/terms-conditions">Terms & Conditions</a>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <h4>Contact us</h4>
                    <p><i class="fas fa-map-marker-alt"></i> 9500 Grove Crest Ln, Charlotte NC 28262</p>
                    <p><img src="assets/usa.png" width="20px"> +1(515)-686-4275</p>
                    <p><img src="assets/india.png" width="20px"> +91-81860-51040</p>
                    <p><i class="far fa-envelope"></i> hello@umpiretaxsolutions.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="SubRow2">
        <div class="container">
            2021© Copyright, All rights reserved by Umpire Tax Solutions
        </div>
    </div>
</footer>
