<div class="WB-Head mb-3">
    <div class="row align-items-center">
        <div class="col-8">
            <h3>Employer information</h3>
        </div>
        <div *ngIf="!showEditProfile" class="col-4 text-end">
            <a class="btn btn-primary" (click)="toggleEditProfile()" href="javascript:void(0)" role="button">Edit</a>
        </div>
    </div>
</div>
<div *ngIf="!showEditProfile" class="row ViewDetails">
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-3 VDLable">Employer Name :</div>
            <div class="col-12 col-md-7 col-lg-9 VDValue">Testing234</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-3 VDLable">Client Name :</div>
            <div class="col-12 col-md-7 col-lg-9 VDValue">Testing</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-3 VDLable">Project Start Date:</div>
            <div class="col-12 col-md-7 col-lg-9 VDValue">10-19-1990</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-3 VDLable">Project End Date:</div>
            <div class="col-12 col-md-7 col-lg-9 VDValue">10-19-1990</div>
        </div>
    </div>
</div>
<div *ngIf="showEditProfile" class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Employer Name:</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Client Name:</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Project Start Date:</label>
            <input type="Date" class="form-control">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Project End Date:</label>
            <input type="Date" class="form-control">
        </div>
    </div>
    <div class="col-12 mt-2">
        <button type="button" class="btn btn-primary me-2">Submit</button>
        <button type="button" (click)="closeEditProfile()" class="btn btn-secondary">Cancel</button>
    </div>
</div>