<div class="white-box p-3">
    <div class="table-responsive ">
        <table datatable [dtOptions]="dtOptions"  class="table table-striped" style="width: 100%;" >
            <thead>
                <tr>
                    <th scope="col">Referral Name</th>
                    <th scope="col">Referral Email</th>
                    <th scope="col">Referral Phone</th>
                    <th scope="col">Referral To Name ID</th>
                    <th scope="col">Referral To Email</th>
                    <th scope="col">Referral To Phone</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody *ngIf="referrals?.length != 0">
                <tr *ngFor="let referral of referrals">
                  <td>{{ referral.rf_on_name.toUpperCase() }}</td>
                  <td>{{ referral.rf_on_email.toUpperCase() }}</td>
                  <td *ngIf="referral?.rf_on_phone_ext == 'US'">{{ referral.rf_on_phone | mask: '(000) 000-0000'}}</td>
                  <td *ngIf="referral?.rf_on_phone_ext == 'INDIA'">{{ referral.rf_on_phone | mask: '00000-00000'}}</td>
                  <td *ngIf="referral?.rf_on_phone_ext == null">{{ referral.rf_on_phone | mask: '(000) 000-0000'}}</td>
                  <td>{{ referral.rf_name.toUpperCase() }}</td>
                  <td>{{ referral.rf_email.toUpperCase() }}</td>
                  <td *ngIf="referral?.rf_phone_ext == 'US'">{{ referral.rf_phone | mask: '(000) 000-0000'}}</td>
                  <td *ngIf="referral?.rf_phone_ext == 'INDIA'">{{ referral.rf_phone | mask: '00000-00000'}}</td>
                  <td *ngIf="referral?.rf_phone_ext == null">{{ referral.rf_phone | mask: '(000) 000-0000'}}</td>
                  <td>{{ referral.rf_comment.toUpperCase() }}</td>
                  <td>{{ referral.added_at | date:'MM-dd-yyyy HH:mm:ss' }}</td>
                </tr>
              </tbody>
              <tbody *ngIf="referrals?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
              </tbody>
        </table>
    </div>
</div>
