<form *ngIf = "!isValid" [formGroup]="otpForm">
    <div class="white-box p-3">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label>Enter OTP :</label>
                    <input type="password" class="form-control" formControlName="otp_setting">
                    <div *ngIf="f.otp_setting" class="error">
                        <div *ngIf="f.otp_setting.errors?.required && f.otp_setting.touched">OTP is required</div>
                    </div>
                    <div *ngIf="inValidOTP" class="error">
                        Entered OTP is not valid.
                     </div>
                </div>
            </div>
        </div>
        <button type="button"  [disabled] = "!otpForm.valid"  (click) = "submitOTP()" class="btn btn-primary mr-2">Submit</button>
    </div>
</form>
<div *ngIf = "isValid" class="row">
    <div class="col-12 col-md-6">
        <app-settings [settingsData] = "settingsData" ></app-settings>
    </div>
    <div class="col-12 col-md-6">
        <app-ip></app-ip>
    </div>
</div>