<div class="white-box p-3">
  <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" class="table table-striped" style="width: 100%;" >
          <thead>
              <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Emai</th>
                  <th>Phone</th>
                  <th>Message</th>
                  <th>Date</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody *ngIf="persons?.length != 0">
              <tr *ngFor="let person of persons">
                  <td>{{ person.firstname }}</td>
                  <td>{{ person.lastname }}</td>
                  <td>{{ person.emailaddress }}</td>
                  <td *ngIf="person?.phoneext == 'US'">{{ person.phone | mask: '(000) 000-0000'}}</td>
                  <td *ngIf="person?.phoneext == 'INDIA'">{{ person.phone | mask: '00000-00000'}}</td>
                  <td *ngIf="person?.phoneext == null">{{ person.phone | mask: '(000) 000-0000'}}</td>
                  <td>{{ person.message }}</td>
                  <td>{{ person.createdat | date:'MM-dd-yyyy HH:mm:ss'}}</td>
                  <td> <u style="cursor: pointer;" class="error" (click) = "OnDelete(person.id)" >  Delete  </u> </td>
              </tr>
            </tbody>
            <tbody *ngIf="persons?.length == 0">
              <tr>
                <td colspan="3" class="no-data-available">No data!</td>
              </tr>
            </tbody>
      </table>
  </div>
</div>
