<span class="success" *ngIf = "currentFileStatus" >Status : {{currentFileStatus?.pfilename}}</span>
<hr>
<div *ngIf = "dataLoaded">
    <div class="SecTabs">
        <a href="javascript:void(0)" [ngClass]="{'active' : selectedProfileTab === 'w2'}" (click)="profileTab('w2')" >W2</a>
        <a href="javascript:void(0)" [ngClass]="{'active' : selectedProfileTab === 'misc'}" (click)="profileTab('misc')"  >1099B/G/DIV/INT/MISC</a>
        <a href="javascript:void(0)" [ngClass]="{'active' : selectedProfileTab === 'hsa'}" (click)="profileTab('hsa')"  >5498/HSA</a>
        <a href="javascript:void(0)" [ngClass]="{'active' : selectedProfileTab === 'ira'}" (click)="profileTab('ira')"  >1099R/IRA</a>
        <a href="javascript:void(0)" [ngClass]="{'active' : selectedProfileTab === 'other-docs'}" (click)="profileTab('other-docs')"  >OTHER DOCS</a>
    </div>
    <div *ngIf="selectedProfileTab === 'w2'" class="WhiteBox p-3">
        <app-docs-data [docs] = "getRecord('W2')"></app-docs-data>
    </div>
    <div *ngIf="selectedProfileTab === 'misc'" class="WhiteBox p-3">
        <app-docs-data [docs] = "getRecord('1099B-G')" ></app-docs-data>
    </div>
    <div *ngIf="selectedProfileTab === 'hsa'" class="WhiteBox p-3">
        <app-docs-data [docs] = "getRecord('5498-HSA')"></app-docs-data>
    </div>
    <div *ngIf="selectedProfileTab === 'ira'" class="WhiteBox p-3">
        <app-docs-data [docs] = "getRecord('1099R-IRA')" ></app-docs-data>
    </div>
    <div *ngIf="selectedProfileTab === 'other-docs'" class="WhiteBox p-3">
        <app-docs-data [docs] = "getRecord('OTHERDOCS')" ></app-docs-data>
    </div>
</div>
