<h2>Assigned File Number</h2>
<form>
    <div class="white-box p-3">
        <h6>Set File Number</h6>
        <div class="form-group">
            <label>New User:</label>
            <select class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>File Number:</label>
            <input type="text" class="form-control">
        </div>
        <button type="button" class="btn btn-primary mr-2">Submit</button>
        <button type="button" class="btn btn-secondary">Cancel</button>
    </div>
</form>
    