<h2>Assigned File Number</h2>
<form [formGroup]="form">
    <div class="white-box p-3">
        <h6>Set File Number</h6>
        <div class="form-group">
            <label>Users:</label>
            <select class="select2 form-control form-select" formControlName="client_id"
                role="button" name="client_id">
                <option value="">Select User</option>
                <option *ngFor="let user of userList; let i = index;" [value]="user.user_id">
                    <a class="dropdown-item"> {{user.user_name}} ({{user.email}})</a>
                </option>
                <div *ngIf="f.client_id?.errors" class="error">
                    <div *ngIf="f.client_id.errors?.required">Please Select</div>
                </div>
            </select>
        </div>
        <div class="form-group">
            <label>Update File Number:</label>
            <input placeholder="File Number Ex: UTS0001" type="text" class="form-control" formControlName = "filenumber">
            <div *ngIf="f.filenumber?.errors" class="error">
                <div *ngIf="f.filenumber.errors?.required && f.filenumber.touched">File Number is required</div>
            </div>
        </div>
        <div class="form-group">
            <span class="error">{{failed}} </span>
            <span class="success">{{success}}</span>
        </div>
        <button type="button" (click) = "saveProcess()" class="btn btn-primary mr-2">Update</button>
        <!-- <button type="button" class="btn btn-secondary">Cancel</button> -->
    </div>
</form>
