<h2>IP Address</h2>
        <form [formGroup]="ipsForm">
            <div class="white-box p-3">
                <div class="form-group">
                    <label>IP Address:</label>
                    <input type="text" class="form-control" formControlName = "ipaddress">
                    <div *ngIf="submitted && ipsF.ipaddress.errors" class="error">
                        <div *ngIf="ipsF.ipaddress.errors?.required">IP Address is required</div>
                        <div *ngIf="ipsF.ipaddress.errors?.pattern">IP Address must be valid</div>
                    </div>
                    <span class="success"> {{success}}</span>
                    <span class="error"> {{failed}}</span>
                </div>
                <div *ngIf = "ipEdit">
                    <button type="button"   [disabled] = "!ipsForm.valid" (click) = "ipUpdate()" class="btn btn-primary mr-2">Update</button>
                    <button type="button" (click) = "ipUpdateCancel()" class="btn btn-secondary">Cancel</button>
                </div>
                <button *ngIf = "!ipEdit"   [disabled] = "!ipsForm.valid" type="button" (click) = "ipSubmit()" class="btn btn-primary mr-2">Add</button>
            </div>
        </form>
        <div class="white-box p-3">
            <div class="table-responsive ">
                <table *ngIf="ipsList?.length > 0" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">IP Address</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ip of ipsList; let i = index;">
                            <td>{{ip.ipaddress}}</td>
                            <td>
                                <span *ngIf="ip.neveripdeleteflag != 1">
                                    <i  style="cursor: pointer;" class="fas fa-edit" title="Edit" (click) = "onIPEdit(i, ip)"> </i> &nbsp; &nbsp;
                                    <i  style="cursor: pointer;" class="fa fa-trash" title="Delete" (click) = "onIPDelete(i, ip)" aria-hidden="true"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
