<div class="row no-gutters align-items-center justify-content-center LoginSec">
    <div class="col-12 col-md-4 col-lg-3">
        <div class="LSBox">
            <div class="text-center Logo pb-3"><img src="../../assets/images/logo.svg"></div>
            <h2 class="text-center pb-3">Admin Login</h2>
            <form [formGroup]="loginForm">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Username" formControlName="email" 
                    placeholder="user@company.com"
                    >
                    <div *ngIf="submitted && f.email.errors" class="error">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                    <div *ngIf="submitted && f.password.errors" class="error">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div *ngIf="submitted && success"  class="form-group">
                    <div class="success">
                        <div>{{success}}</div>
                    </div>
                </div>
                <div *ngIf="submitted && failed"  class="form-group">
                    <div class="error">
                        <div>{{failed}}</div>
                    </div>
                </div>
                <button type="submit"  (click)="onSubmit()" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>
</div>