  <div class="rt-sidebar" style="z-index:5" id="mySidebar">
        <div class="head">
            <h3>Login</h3>
            <a class="close" (click)="w3_close()"><i class="fas fa-times"></i></a>
        </div>
        <div class="p-3">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="user@company.com">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="******">
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>
                    </div>
                    <div class="col-6 text-end"> <a href="#">Forgot Password?</a></div>
                </div>
                <button type="submit" class="btn LoginBtn w-100">Login</button>
                <hr>
                <div class="text-center"> Don't have an account?</div>
                <div class="text-center"><a class="RegisterBtn" (click)="w3_open2()">Register Now</a></div>
            </form>
        </div>
</div>
