<div class="row no-gutters align-items-center justify-content-center LoginSec">
    <div class="col-12 col-md-4 col-lg-3">
        <div class="LSBox">
            <div class="text-center Logo pb-3"><img src="../../assets/images/logo.svg"></div>
            <h2 class="text-center pb-3">Admin Login</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Password">
            </div>
            <button type="button" class="btn btn-primary w-100">Login</button>
        </div>
    </div>
</div>