<h6>Spouse Information</h6>
<hr>
<div class="row ViewDetails pb-3">
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">First Name :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{spouseInfo?.first_name}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Last Name :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{spouseInfo?.last_name}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">SSIN :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{spouseInfo?.ssn}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Occupation :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{spouseInfo?.occupation}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Date Of Birth :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{spouseInfo?.dob}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Visa Type :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{spouseInfo?.visa_type}}</div>
        </div>
    </div>
</div>