<div class="TopBar py-3 mb-3">
    <div class="row align-items-center">
        <div class="col-8 col-md-3 col-lg-2">
            <img src="assets/logo.svg" class="img-fluid">
        </div>
        <div class="col-4 text-right Toggle">
            <!-- toggler -->
            <button id="sidebarCollapse" class="float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button" aria-label="Toggle menu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="col-12 col-md-9 col-lg-10 text-md-end">
            <span class="FileStatus me-2 my-2">File Status: Payment Pending</span>
            <a class="Referafriend me-2"> <i class="fas fa-bullhorn"></i> Refer a Friend</a>
            <button type="button" class="btn btn-primary TB-btn1 me-2">Make Payment</button>
            <div class="dropdown">
                <a class="btn  dropdown-toggle Profile" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/profile.png" class="rounded-circle">
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Change Password</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<h1 class="PageHeadding mb-4"> Profile Information <span class="FileNo">File Number: <span>UTS0022</span></span></h1>
