<div class="white-box p-3">
    <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="table table-striped" style="width: 100%;" >
            <thead>
                <tr>
                    <th>File Number</th>
                    <th>Client Name</th>
                    <th>Email ID</th>
                    <th>Phone</th>
                    <th>File Status</th>
                    <th>Assigned</th>
                </tr>
            </thead>
            <tbody *ngIf="persons?.length != 0">
                <tr *ngFor="let person of persons">
                  <td> <u> <a class="success" routerLink="/details/{{person?.user_id}}">{{ person.unique_code }} </a> </u> </td>
                  <td>{{ person.user_name }}</td>
                  <td><u> <a class="success" routerLink="/details/{{person?.user_id}}">{{ person.email }} </a> </u></td>
                  <td>{{ person.phone }}</td>
                  <td>{{ person.file_status }}</td>
                  <td *ngIf = "fileState != 0">Assigned</td>
                  <td *ngIf = "fileState == 0">
                    <form [formGroup]="myAnalystForm">
                      <select class="form-control" formControlName="unlists_u_id"  (change)="assignFile($event, person?.user_id)"
                          role="button" name="unlists_u_id">
                          <option value=""> Please Select</option>
                          <option *ngFor="let analyst of analystList" [value]="analyst.user_id">
                              <a class="dropdown-item"> {{analyst.user_name}}</a>
                          </option>
                      </select>
                    </form>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="persons?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
              </tbody>
        </table>
    </div>
</div>