<h2>Change Password</h2>
<form [formGroup]="passwordForm" >
    <div class="white-box p-3">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Old Password</label>
                    <input type="password" class="form-control" placeholder="Old Password" formControlName="oldpassword">
                    <div *ngIf="f.oldpassword?.errors" class="error">
                        <div *ngIf="f.oldpassword.errors?.required && f.oldpassword.touched">Old password is required</div>
                        <div *ngIf="f.oldpassword.errors?.minlength">Password must be at least 4 characters</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="New Password" formControlName="password">
                    <div *ngIf="f.password?.errors" class="error">
                        <div *ngIf="f.password.errors?.required && f.password.touched">New password is required</div>
                        <div *ngIf="f.password.errors?.minlength">Password must be at least 4 characters</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmpassword">

                    <div *ngIf="f.confirmpassword?.errors" class="error">
                        <div *ngIf="f.confirmpassword.errors?.required && f.confirmpassword.touched">Confirm password is required</div>
                        <div *ngIf="f.confirmpassword.errors?.minlength">Confirm Password must be at least 4 characters</div>
                        <div *ngIf="f.confirmpassword.errors?.confirmedValidator">New password and confirm password should match.</div>
                    </div>
                </div>
                <span class="success"> {{success}} </span>
                <span class="error"> {{failed}} </span>
            </div>
        </div>
        <button type="button" (click) = "changePassword()" [disabled] = "!passwordForm.valid" class="btn btn-primary mr-2">Change</button>
    </div>
</form>