<div class="public">
    <app-topbar></app-topbar>
    <app-navbar></app-navbar>
<div class="InnerBg">
        <a class="Referafriend"><i class="fas fa-bullhorn"></i> Refer a Friend</a>
        <div class="container">
            <h1>US TAX Services</h1>
        </div>
    </div>
    <div class="InnerPage py-5">
        <div class="text-center mb-5">
            <h2 class="PageHeading">Individual Services</h2>
        </div>
        <section class="container mb-5">
            <div class="row align-items-center">
                <div class="col-12 col-md-5">
                    <div class="SecImage">
                        <img src="assets/1040form.jpg" class="img-fluid rounded">
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <div class="ps-md-5">
                        <h3 class="pt-3">Form 1040, U.S. Individual Income Tax Return</h3>
                        <p>Annual income tax return filed by citizens or residents (H1, L1, GREEN CARD HOLDERS) of the United States.</p>
                        <p>The standard Internal Revenue Service (IRS) form that individuals use to file their annual income tax returns The form contains sections that require taxpayers to disclose their financial income status for the year in order to ascertain whether additional taxes are owed or whether the taxpayer is due for a tax refund. 1040 forms need to be filed with the IRS by April 15.</p>
                        <p>Depending upon Filing status AND income from different sources forms will vary.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 SecBg1 mb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-7 order-2 order-md-1">
                        <div class="ps-md-5">
                            <h3 class="pt-3">1040NR Nonresident Aliens Filing Form 1040-NR for Refund of U.S. Source Income Withheld</h3>
                            <p>Annual income tax return filed by Non-residents i.e., the persons who holds a visa of F,M,J in the United States.</p>
                            <p>You may need to file Form 1040NR If you:</p>
                            <p>Were a nonresident alien engaged in a trade or business in the United States,
                                Represented a deceased person who would have had to file Form 1040NR, or
                                Represented an estate or trust that had to file Form 1040NR.
                                Who Must File <a href="https://www.irs.gov/instructions/i1040nr#d0e576" target="_blank">CLICK HERE</a></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 order-1 order-md-2">
                        <div class="SecImage">
                            <img src="assets/1040form.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container mb-5">
            <div class="row align-items-center">
                <div class="col-12 col-md-5">
                    <div class="SecImage">
                        <img src="assets/1040form.jpg" class="img-fluid rounded">
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <div class="ps-md-5">
                        <h3 class="pt-3">1040X</h3>
                        <ul>
                            <li>File this form to do the following.</li>
                            <li>Correct Forms 1040, 1040A, 1040EZ, 1040NR, or 1040NR-EZ.</li>
                            <li>Make certain elections after the prescribed deadline.</li>
                            <li>Change amounts previously adjusted by the IRS.</li>
                            <li>Make a claim for a carryback due to a loss or unused credit</li>
                        </ul>
                        <h6>What is the IRS 1040X Form?</h6>
                        <h6>OVERVIEW</h6>
                        <p>If you ever discover an error on a tax return, or realize you qualify for deductions or credits you didn't take, or forgot to include some income, you may be able to amend your return by filing a Form 1040X. When you prepare the 1040X, it's not necessary to complete a brand new tax return. Form 1040X only requires that you update the numbers that will change.</p>
                        <ul>
                            <li>When you can file</li>
                            <li>How you can benefit</li>
                            <li>Information you need</li>
                            <li>Time limitations for filing</li>
                            <li>For More Info You Can <a href="https://www.irs.gov/forms-pubs/about-form-1040x" target="_blank">CLICK HERE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 SecBg1 mb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-7 order-2 order-md-1">
                        <div class="ps-md-5">
                            <h3 class="pt-3">W-7/ITIN</h3>
                            <p>An Individual Taxpayer Identification Number (ITIN) is a tax processing number issued by the Internal Revenue Service. It is a nine-digit number that always begins with the number 9 and has a range of 70-88 in the fourth and fifth digit. Effective April 12, 2011, the range was extended to include 900-70-0000 through 999-88-9999, 900-90-0000 through 999-92-9999 and 900-94-0000 through 999-99-9999. IRS issues ITINs to individuals who are required to have a U.S. taxpayer identification number but who do not have, and are not eligible to obtain a Social Security Number (SSN) from the Social Security Administration (SSA).</p>
                            <p>ITINs are issued regardless of immigration status because both resident and nonresident aliens may have a U.S. filing or reporting requirement under the Internal Revenue Code.</p>
                            <p>Individuals must have a filing requirement and file a valid federal income tax return to receive an ITIN, unless they meet an exception.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 order-1 order-md-2">
                        <div class="SecImage">
                            <img src="assets/1040form.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container mb-5">
            <div class="row align-items-center">
                <div class="col-12 col-md-5">
                    <div class="SecImage">
                        <img src="assets/1040form.jpg" class="img-fluid rounded">
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <div class="ps-md-5">
                        <h3 class="pt-3">W-4</h3>
                        <ul>
                            <li>What is a W-4 Form?</li>
                            <li>Updated for Tax Year 2015</li>
                            <li>OVERVIEW</li>
                            <li>Used by your employer to determine the amount of taxes to withhold from your paycheck, the W-4 Form can help you out at tax time. Here are the details.</li>
                            <li>For More Info You Can <a href="https://www.irs.gov/forms-pubs/about-form-w-4" target="_blank">CLICK HERE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 SecBg1 mb-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-7 order-2 order-md-1">
                        <div class="ps-md-5">
                            <h3 class="pt-3">FFA</h3>
                            <p>U.S. Taxpayers Holding Foreign Financial Assets May Also Need to File Form 8938</p>
                            <p>Taxpayers with specified foreign financial assets that exceed certain thresholds must report those assets to the IRS on <a href="https://www.irs.gov/pub/irs-pdf/f8938.pdf" target="_blank">Form 8938</a>, Statement of Specified Foreign Financial Assets, which is filed with an income tax return. Those foreign financial assets could include foreign accounts reported on an FBAR. The Form 8938 filing requirement is in addition to the FBAR filing requirement. A chart providing a <a href="https://www.irs.gov/businesses/comparison-of-form-8938-and-fbar-requirements" target="_blank">comparison of Form 8938 and FBAR requirements</a> may be accessed on the IRS <a href="https://www.irs.gov/businesses/corporations/foreign-account-tax-compliance-act-fatca" target="_blank">Foreign Account Tax Compliance Act Web page</a></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 order-1 order-md-2">
                        <div class="SecImage">
                            <img src="assets/1040form.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container mb-5">
            <div class="row align-items-center">
                <div class="col-12 col-md-5">
                    <div class="SecImage">
                        <img src="assets/1040form.jpg" class="img-fluid rounded">
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <div class="ps-md-5">
                        <h3 class="pt-3">FBAR</h3>
                        <p>Report of Foreign Bank and Financial Accounts (FBAR)</p>
                        <p>If you have a financial interest in or signature authority over a foreign financial account, including a bank account, brokerage account, mutual fund, trust, or other type of foreign financial account, exceeding certain thresholds, the Bank Secrecy Act may require you to report the account yearly to the Department of Treasury by electronically filing a Financial Crimes Enforcement Network (FinCEN) 114, Report of Foreign Bank and Financial Accounts (FBAR). See the Who Must File an FBAR section below for additional criteria. (FBAR)</p>
                        <p>Which starts Filing from the month of July</p>
                        <p>The FBAR deadline for every calendar year reports remains April 16 (with extensions till October).</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="WelcomSec">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h2>Business Services</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="ServiceSec1 mb-5">
        <div class="container">
            <div class="Background">
                <div class="row align-items-center">
                    <div class="col-12 col-md-5">
                        <div class="SecImage">
                            <img src="assets/1040form.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="ps-md-5">
                            <h3 class="pt-3">Corporate</h3>
                            <p>Form 1120, U.S. Corporation Income Tax Return</p>
                            <p>Domestic corporations use this form to report their income, gains, losses, deductions, credits, and figure their income tax liability.</p>
                            <p>For more info <a href="https://www.irs.gov/forms-pubs/about-form-1120" target="_blank">Click here</a></p>
                        </div>
                    </div>
                    
                </div>
                <div class="row align-items-center">
                    <div class="col-12 col-md-7 order-2 order-md-1">
                        <div class="ps-md-5">
                            <h3 class="pt-3">Partnership</h3>
                            <p>Form 1065, U.S. Return of Partnership Income</p>
                            <p>Partnerships file an information return to report their income, gains, losses, deductions, credits, etc. A partnership does not pay tax on its income but passes through any profits or losses to its partners. Partners must include partnership items on their tax or information returns.</p>
                            <p>For more info <a href="https://www.irs.gov/forms-pubs/about-form-1065" target="_blank">Click here</a></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 order-1 order-md-2">
                        <div class="SecImage">
                            <img src="assets/1040form.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
    <app-login></app-login>
</div>