<span class="success" *ngIf = "currentFileStatus" >Status : {{currentFileStatus?.pfilename}}</span>

<div class="row ">
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">First Name :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.first_name}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Last Name :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.last_name}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">SSIN :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.ssnitin}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Occupation :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.occupation}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Date Of Birth :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.dob | date:'MM-dd-yyyy'}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Filing Status :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.filling_status}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Dependents :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue" *ngIf="otherInfo.dependent == 1">Yes</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue" *ngIf="otherInfo.dependent == 2">No</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Email :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.email}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Mobile :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue" *ngIf="otherInfo.phoneext == 'US'">{{otherInfo?.phone | mask: '(000) 000-0000'}}</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue" *ngIf="otherInfo.phoneext == 'INDIA'">{{otherInfo?.phone | mask: '00000-00000'}}</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue" *ngIf="otherInfo.phoneext == null">{{otherInfo?.phone | mask: '(000) 000-0000'}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Alternate Number :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.alterphone}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Address :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.address}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">City :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.city_name}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Country :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.country_name}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Status :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.status}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Health Insurance :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.insurence}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">ZIP :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.zip}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Current Employer :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.current_emp}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Client Location :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.c_location}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Time Zone :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.time_zone}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Referral Name :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.referral_name}}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row py-2">
            <div class="col-12 col-md-5 col-lg-5 VDLable">Registered On :</div>
            <div class="col-12 col-md-7 col-lg-7 VDValue">{{otherInfo?.createdon}}</div>
        </div>
    </div>
</div>