<div class="white-box p-3">
    <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="table table-striped" style="width: 100%;" >
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Previous State</th>
                    <th>Present State</th>
                    <th>Comment</th>
                    <th>Create At</th>
                </tr>
            </thead>
            <tbody *ngIf="persons?.length != 0">
                <tr *ngFor="let person of persons">
                  <td>{{ person.user_name }}</td>
                  <td>{{ person.previousstate }}</td>
                  <td>{{ person.presentstate }}</td>
                  <td>{{ person.comment }}</td>
                  <td>{{ person.cmt_created_at }}</td>
                </tr>
              </tbody>
              <tbody *ngIf="persons?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
              </tbody>
        </table>
    </div>
</div>