<div class="white-box p-3">
    <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="table table-striped" style="width: 100%;" >
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>File Number</th>
                    <th>Amount</th>
                    <th>Order Transaction Id</th>
                    <th>Order Status</th>
                    <th>Order Placed</th>
                </tr>
            </thead>
            <tbody *ngIf="persons?.length != 0">
                <tr *ngFor="let person of persons">
                    <td>{{person.user_name}}</td>
                    <td>{{person.filenumber}}</td>
                    <td>{{person.p_amount}}</td>
                    <td>{{person.t_order_id}}</td>
                    <td *ngIf="person.order_status">Payment success</td>
                    <td *ngIf="!person.order_status">Payment failed</td>
                    <td>{{person.o_created_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <!-- <td><u> <a class="success" routerLink="/details/{{person?.user_id}}">{{ person.email }} </a> </u></td>
                  <td>{{person.client_name}}</td>
                  <td><u><a class="success" routerLink="/details/{{person?.user_id}}">Referral To</a> </u></td> -->
                </tr>
              </tbody>
              <tbody *ngIf="persons?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
              </tbody>
        </table>
    </div>
  </div>