
<div class="row">
    <div class="col-12 col-md-6">
        <app-set-new-file-number [list]="userList"></app-set-new-file-number>
    </div>
    <div class="col-12 col-md-6">
        <app-set-old-file-number [list]="userList"></app-set-old-file-number>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 col-md-6">
        <app-set-email-address [list]="userList"></app-set-email-address>
    </div>
    <div class="col-12 col-md-6">
        <app-set-mobile-number [list]="userList"></app-set-mobile-number>
    </div>
</div>
