<div class="row">
    <div class="col-12">
        <h2>Sending Emails to Client</h2>
        <form [formGroup]="emailForm" class="white-box p-3">
			<div class="row mb-3 mt-3 ">
				<div class="nav-item dropdown col-12 col-md-4"> 
					<select class="form-control" formControlName="ettemplateid"
						role="button" name="ettemplateid">
						<option *ngFor="let template of templatesList" [value]="template.ettemplateid">
							<a class="dropdown-item"> {{template.ettemplatedisplay}}</a>
						</option>
					</select>
				</div> 
			</div> 
			<div formArrayName="emails">
				<div *ngFor="let emailForm of emailsFormGroup.controls; let i = index;" >
					<div [formGroupName]="i" class="row">
						<div class="col-12 col-md-4">
							<div class="form-group">
								<input type="text" class="form-control" formControlName="userName" placeholder="Name">
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="form-group">
								<input type="email" class="form-control" formControlName="email_id"  placeholder="Email Id">
							</div>
						</div>
						<div class="col-12 col-md-4">
							<button class="btn btn-danger" *ngIf = "this.emailsList.length > 1" type="button" (click)="removeEmail(i)"> Remove </button>
							&nbsp;
							<button *ngIf = "i == emailsFormGroup.controls.length - 1" class="btn btn-primary" type="button" (click)="addEmailForm()"> Add User </button>
						</div>

						<div class="col-12 col-md-4 mb-2">
							<div class="form-group" *ngIf="submitted && !getValidity(i)" class="error">
								<div>Name and Email address are required.</div>
							</div>
						</div>
					</div>
				</div>
			</div> 
			<div  class="row p-2">
				<div class="col-12 col-md-4">
					<span class="success">{{success_msg}} </span>
					<span class="error">{{error_msg}}</span>
				</div>
			</div>
			<div  class="row p-2">
				<div class="col-12 col-md-4">
					<button type="button" (click) = "Submit()" class="btn btn-primary mr-2">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>