<nav class="offcanvas offcanvas-start SideNav show" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="true" data-bs-scroll="true" style="background-color:#0696ba;visibility:visible">
    <div class="offcanvas-header">
        <a routerLink="/" class="d-flex align-items-center text-decoration-none offcanvas-title d-sm-block">
            <img src="../../assets/logo-icon.svg" class="img-fluid">
        </a>
    </div>
    <div class="offcanvas-body px-0">
        <ul class="nav">
            <li class="nav-item">
                <a routerLink="/user-dashboard/" class="nav-link active" data-bs-toggle="tooltip" data-bs-placement="right" title="Home"><i class="fa fa-home"></i></a>
            </li>
            <li class="nav-item">
                <a routerLink="/user-dashboard/profile" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="right" title=" Profile Information "><i class="fas fa-user"></i></a>
            </li>          
            <li class="nav-item">
                <a routerLink="/user-dashboard/upload" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="right" title=" Upload Tax Documents"><i class="fas fa-file-upload"></i></a>
            </li>
            <li class="nav-item">
                <a routerLink="/user-dashboard/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="right" title=" View Tax Summary"><i class="far fa-file-alt"></i></a>
            </li>
            <li class="nav-item">
                <a routerLink="/user-dashboard/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="right" title=" Make Payment"><i class="far fa-credit-card"></i></a>
            </li>
            <li class="nav-item">
                <a routerLink="/user-dashboard/upload" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Download Tax Return Copy"><i class="fas fa-download"></i></a>
            </li>
            <li class="nav-item">
                <a routerLink="/disclaimer/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="right" title=" Disclaimer Agreement"><i class="fas fa-file-invoice"></i></a>
            </li>
            <li class="nav-item">
                <a routerLink="/user-dashboard/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="right" title=" Paypal"><i class="fab fa-paypal"></i></a>
            </li>
            <li class="nav-item">
                <a routerLink="/user-dashboard/" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="right" title=" Refferrals"><i class="fa fa-user-plus"></i></a> 
            </li>
        </ul>
    </div>
</nav>