All Records
<!-- <div class="white-box p-3">
    <div class="table-responsive ">
        <table datatable [dtOptions]="dtOptions" >
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">File Number</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Email ID</th>
                    <th scope="col">Phone</th>
                    <th scope="col">File Status</th>
                    <th scope="col">Assigned</th>
                </tr>
            </thead>
            <tbody *ngIf="persons?.length != 0">
                <tr *ngFor="let person of persons">
                  <td>{{ person.rf_on_name }}</td>
                  <td>{{ person.rf_on_email }}</td>
                  <td>{{ person.rf_on_phone }}</td>
                  <td>{{ person.rf_name }}</td>
                  <td>{{ person.rf_email }}</td>
                  <td>{{ person.rf_phone }}</td>
                  <td>{{ person.rf_comment }}</td>
                </tr>
              </tbody>
              <tbody *ngIf="persons?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
              </tbody>
        </table>
    </div>
</div> -->