<div class="public">
    <app-topbar></app-topbar>
    <app-navbar></app-navbar>
 <section class="WelcomSec">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-4 text-center">
                    <img src="assets/refer.png" class="Img1">
                </div>
                <div class="col-12 col-md-8">
                    <h2>Refer a Friend</h2>
                    <p>Apart from filing the accurate tax returns, you can also be awarded with a cash check in the form of Referral Bonus. If you had a Great experience with our Professional service(s) if we would truly appreciate your help in spreading of our Business. Refer your friends to avail our Professional services and earn 10% referral bonus on each person you refer.</p>
                    <p>
                        You have also shot of winning I phone 11 Pro, Dell All in one Desktop and GoPro Hero Camera if you are among the TOP THREE REFERRALS. Request you to be part of our expansion of the business and also the Clients. Get granted and influence your companions to feel incredible of you.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="ServiceSec1 mb-5">
        <div class="container">
            <div class="Background">
                <h4 class="pb-3">If it's not too much trouble please provide the following details of the Friend whom you wish to Refer.</h4>
                <form [formGroup]="refferalInfoForm">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Your Name" formControlName="rf_on_name">
                                <span *ngIf="refferalInfoForm?.controls?.rf_on_name?.errors?.required && refferalInfoForm?.controls?.rf_on_name?.touched" 
                                class="font-13 error-color">Name is required</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Your Email" formControlName="rf_on_email">
                                <span *ngIf="refferalInfoForm?.controls?.rf_on_email?.errors?.required && refferalInfoForm?.controls?.rf_on_email?.touched" 
                                class="font-13 error-color">Email is required</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="mb-3">
                                <input type="tel" class="form-control" placeholder="Your Mobile Number" formControlName="rf_on_phone">
                                <span *ngIf="refferalInfoForm?.controls?.rf_on_phone?.errors?.required && refferalInfoForm?.controls?.rf_on_phone?.touched" 
                                class="font-13 error-color">Phone number is required</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Name of Your Friend" formControlName="rf_name">
                                <span *ngIf="refferalInfoForm?.controls?.rf_name?.errors?.required && refferalInfoForm?.controls?.rf_name?.touched" 
                                class="font-13 error-color">Your friend name is required</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Friend's Email" formControlName="rf_email">
                                <span *ngIf="refferalInfoForm?.controls?.rf_email?.errors?.required && refferalInfoForm?.controls?.rf_email?.touched" 
                                class="font-13 error-color">Your friend email is required</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="mb-3">
                                <input type="tel" class="form-control" placeholder="Friend's Mobile Number" formControlName="rf_phone">
                                <span *ngIf="refferalInfoForm?.controls?.rf_phone?.errors?.required && refferalInfoForm?.controls?.rf_phone?.touched" 
                                class="font-13 error-color">Phone number is required</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <textarea class="form-control" placeholder="Message" rows="4" formControlName="rf_comment"></textarea>
                                <span *ngIf="refferalInfoForm?.controls?.rf_comment?.errors?.required && refferalInfoForm?.controls?.rf_comment?.touched" 
                                class="font-13 error-color">Message is required</span>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" (click)="submitRefferalInfo()" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="container py-3">
        <h3 class="pb-5 text-center">Top 3 Referral Gifts</h3>
        <div class="row justify-content-center">
            <div class="col-12 col-md-3 text-center">
                <img src="assets/iphone.png" class="img-fluid">
                <div>Iphone 11 Pro</div>
            </div>
            <div class="col-12 col-md-3 text-center">
                <img src="assets/dell.png" class="img-fluid">
                <div>Dell All In One PC</div>
            </div>
            <div class="col-12 col-md-3 text-center">
                <img src="assets/cam.png" class="img-fluid">
                <div>Gopro Hero HD Waterproof Action Camera</div>
            </div>
        </div>
        <h6>Points To Consider:-</h6>
        <ol>
            <li>You will be eligible for referral bonus only when you’re friend or referred person file the U.S Tax return with Umpire Tax Solutions, LLC.</li>
            <li>We will be paying you straight away 10% on each friend or referred person fees.</li>
            <li>If you are among the TOP THREE REFERRALS, you have chance of winning all these things.
                <ul>
                    <li>I phone 11 Pro –Minimum 26 Referrals</li>
                    <li>Dell All in one Desktop – Minimum 20 Referrals</li>
                    <li>Go Pro Hero camera – Minimum 15 Referrals</li>
                    <li>Refer your friends and get Awarded Accordingly.</li>
                </ul>
            </li>
            <li>To be a part of Top Three Referrals, you need to refer a minimum of 6 people.</li>
            <li>Referral bonus under referral program will be given after April 26 2021 and Top 3 referral gifts will be announced in the month of October 2021.</li>
            <li>We would like to take this opportunity and Request you to Refer your friends and be Part of our Global expansion of the Business.</li>
        </ol>
        <div class="ThankYou-text pb-5">Thank you for Choosing Umpire Tax Solutions, LLC.</div>
    </section>
    <app-footer></app-footer>
    <app-login></app-login>
</div>