<div class="public">
    <app-topbar></app-topbar>
    <app-navbar></app-navbar>
<div class="InnerBg">
        <div class="container">
            <h1>Profile</h1>
        </div>
</div>
    <div class="InnerPage">
        <div class="container my-5">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <img src="assets/stock-photo-happy-beautiful-asian-woman-working-about-financial-with-business-report-and-calculator-financial-1316954084.jpg" class="img-fluid rounded">
                </div>
                <div class="col-12 col-md-6">
                    <div class="ps-md-5">
                        <h3 class="pt-3">UMPIRE TAX SOLUTIONS</h3>
                        <p>Umpire Tax Solutions, LLC is Accounting and Taxation Company Providing various Financial Services in International Taxation, Accounting, Incorporation and Payroll Services.</p>
                        <p>
                            It was formed by a group of Qualified Professionals such as Certified Public Accountants, Enrolled Agents and Chartered Accountants. We at Umpire tax solutions will provide High Quality Professional Services at Competitive Prices and also we are having highly experienced candidates in Corporate filings, Business Filings, Federal, States, City, and County taxes, also updated on Tax Laws, accounting procedures and related issues. Umpire Tax Solutions provide Remarkable services to the clients in view of our Commitment Regarding the underlying principles of Professionalism, Accuracy, Dedication, Integrity and Responsibility.</p>
                        <p>Our expertise services are not just restricted to Individuals, We are also good in partnerships and corporations with Tax Preparation and Tax related matters. Through hard work, we have earned the respect of the business and financial communities. This respect illustrates our diverse talents, dedication and ability to respond quickly.</p>
                        <p>
                            Our Team assists you at each level to comply with all the applicable laws in regards to the Tax filing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="WelcomSec">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <div>Favourable Circumstances of Filing with UTS..!</div>
                    <h2>HOW TO PAY LESS TAXES BY TAKING THE QUALIFIED ADVANTAGES????</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="ServiceSec1 mb-5">
        <div class="container">
            <div class="Background">
                <p>Umpire Tax will direct you in asserting the advantages which gave by the Federal and State Governments with the goal that it will help you to diminish the TAXES.</p>
                <ul>
                    <li> IRA (Individual Retirement Arrangement)</li>
                    <li>HSA (Health Savings Account)</li>
                    <li>Credits< 
                        <ul>
                    <li>Educational Credits</li>
                    <li>Foriegn Tax Credit</li>
                    <li>Earned Income Credit</li>
                    <li>Child Tax Credit</li>
                    <li>Dependant Care Credit</li>
                </ul>
                </li>
                <li>Home loan Interest Deduction (U.S/Foreign)</li>
                <li>Student loan Interest Deduction (U.S/Foreign)</li>
                <li>Medical and dental Expenses</li>
                <li>Charitable Contributions</li>
                <li>Free Federal & State Filing Extensions</li>
                <li>Free Tax Estimates</li>
                <li>100% Guarantee to get the Estimated Refunds</li>
                </ul>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
    <app-login></app-login>
</div>