<div class="public">
    <app-topbar></app-topbar>
    <app-navbar></app-navbar>
    <div class="InnerBg">
            <div class="container">
                <h1>Contact Us</h1>
            </div>
        </div>
        <div class="InnerPage py-5">
            <div class="container Contactus">
                <h3>Stay Connected</h3>
                        <p class="pb-3">Have any question? We can help you...
                <div class="row">
                    <div class="col-12 col-md-4">
                        
                            <div class="Addressbox">
                                <i class="fas fa-map-marker-alt BoxIcon1"></i>
                                <div>
                                    <div class="Title">CORPORATE OFFICE</div>
                                    <div class="Address">9500 Grove Crest Ln, Charlotte NC 28262</div>
                                </div>
                            </div>
                            <div class="Addressbox">
                                <i class="fas fa-map-marker-alt BoxIcon1"></i>
                                <div>
                                    <div class="Title">PROCESSING CENTER</div>
                                    <div class="Address">4-7-18/B Raghavendra Nagar, Nacharam Hyd 500076.</div>
                                </div>
                            </div>
                            <div class="Addressbox">
                                <i class="fas fa-phone-alt BoxIcon1"></i>
                                <div>
                                    <div class="Title">PHONE</div>
                                    <div class="Address"><img src="assets/usa.png" height="18px"> +1(515)-686-4275</div>
                                    <div class="Address"><img src="assets/india.png" height="18px"> +91-81860-51040</div>
                                </div>
                            </div>
                            <div class="Addressbox">
                                <i class="fas fa-paper-plane BoxIcon1" style="padding:10px;"></i>
                                <div>
                                    <div class="Title">EMAIL</div>
                                    <div class="Address">hello@umpiretaxsolutions.com</div>
                                </div>
                            </div>
                    </div>
                    <div class="col-12 col-md-5">
                        <form [formGroup]="contactInfoForm">
                            <div class="ContactForm">
                                <h6>How can we help you?</h6>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="User Name" formControlName="c_name">
                                    <span *ngIf="contactInfoForm?.controls?.c_name?.errors?.required && contactInfoForm?.controls?.c_name?.touched" 
                                    class="font-13 error-color">User name is required</span>
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control" placeholder="Email" formControlName="c_email">
                                    <span *ngIf="contactInfoForm?.controls?.c_email?.errors?.required && contactInfoForm?.controls?.c_email?.touched" 
                                    class="font-13 error-color">Email is required</span>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Phone" formControlName="c_phone">
                                    <span *ngIf="contactInfoForm?.controls?.c_phone?.errors?.required && contactInfoForm?.controls?.c_phone?.touched" 
                                    class="font-13 error-color">Phone number is required</span>
                                </div>
                                <div class="mb-3"> 
                                    <textarea class="form-control" placeholder="Message" rows="4" formControlName="c_message"></textarea> 
                                    <span *ngIf="contactInfoForm?.controls?.c_message?.errors?.required && contactInfoForm?.controls?.c_message?.touched" 
                                    class="font-13 error-color">Message is required</span>
                                </div>
                                <button type="submit" (click)="submitContactInfo()" class="btn btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <app-footer></app-footer>
    <app-login></app-login>
</div>
