<div class="public">
    <app-topbar></app-topbar>
    <app-navbar></app-navbar>
        <div class="InnerBg">
                <div class="container">
                    <h1>Testimonials</h1>
                </div>
            </div>
            <div class="InnerPage py-5">
                <h5 class="text-center">Check what our Customers are Saying</h5>
                <p class="text-center">You can relay on our amazing features list and also our customer services will be great experience for you without doubt</p>
                <div class="container Testimonials-List testimonial1">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="item">
                                <div class="card card-shadow border-0 mb-4">
                                    <div class="card-body">
                                        <div class="position-relative thumb bg-success-gradiant d-inline-block text-white mb-4"><img src="assets/userpic.png" class="thumb-img position-absolute rounded-circle" /> Priyanka Guha Roy</div>
                                        <h5 class="font-weight-light">Incredibly happy with the services and constant help we got from the company</h5>
                                        <span class="devider d-inline-block my-3"></span>
                                        <h6 class="font-weight-normal">Maryland</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="item">
                                <div class="card card-shadow border-0 mb-4">
                                    <div class="card-body">
                                        <div class="position-relative thumb bg-success-gradiant d-inline-block text-white mb-4"><img src="assets/userpic.png" class="thumb-img position-absolute rounded-circle" />Sunil Venugopal</div>
                                        <h5 class="font-weight-light">It was a wonderful experience!!!<br>
                                            Please do get in touch with me for filing my returns next year!!!</h5>
                                        <span class="devider d-inline-block my-3"></span>
                                        <h6 class="font-weight-normal">California</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="item">
                                <div class="card card-shadow border-0 mb-4">
                                    <div class="card-body">
                                        <div class="position-relative thumb bg-success-gradiant d-inline-block text-white mb-4"><img src="assets/userpic.png" class="thumb-img position-absolute rounded-circle" />Raj Maurya</div>
                                        <h5 class="font-weight-light">U - Ultimate team to engage with <br>
                                            M - Max return guaranteed <br>
                                            P - Professional in work <br>
                                            I - Ideal approach <br>
                                            R - Ready to work 24/7 <br>
                                            E - Easy filing</h5>
                                        <span class="devider d-inline-block my-3"></span>
                                        <h6 class="font-weight-normal">California</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="item">
                                <div class="card card-shadow border-0 mb-4">
                                    <div class="card-body">
                                        <div class="position-relative thumb bg-success-gradiant d-inline-block text-white mb-4"><img src="assets/userpic.png" class="thumb-img position-absolute rounded-circle" />Varalakshmi Naresh</div>
                                        <h5 class="font-weight-light">I am glad to write a feedback on your services.
                                            Your returns was good when compared to other Tax consultancies and most of all is when ever I called you for questions, you picked the call and emailed me clarifications, that was really good. Keep up the good work. Thanks so much</h5>
                                        <span class="devider d-inline-block my-3"></span>
                                        <h6 class="font-weight-normal">Kentucky</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="item">
                                <div class="card card-shadow border-0 mb-4">
                                    <div class="card-body">
                                        <div class="position-relative thumb bg-success-gradiant d-inline-block text-white mb-4"><img src="assets/userpic.png" class="thumb-img position-absolute rounded-circle" />Srini Battula</div>
                                        <h5 class="font-weight-light">I am Thankful by filling through Umpire Tax Solutions.
                                            I appreciate your prompt response, followup process and knowledge on IRS terms and conditions.</h5>
                                        <span class="devider d-inline-block my-3"></span>
                                        <h6 class="font-weight-normal">Minnesota</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
            <app-login></app-login>
        </div>   
