<div class="wrapper">
    <ng-template [ngIf]="authService.isAuthenticated()">
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href=""><img src="{{getLogo()}}"></a>
            </div>
            <ul class="list-unstyled components">
                <li class="nav-item " routerLinkActive="active" *ngIf="isSuperAdmin">
                    <a 
                        routerLink="/all-records" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="All Records">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                        All Records
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin">
                    <a 
                        routerLink="/assigned-file" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="Assigned File Number">
                        Assigned File Number
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin">
                    <a 
                        routerLink="/to-be-assigned" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="To Be Assigned">
                        To Be Assigned ({{getRecord(0)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
                    <a 
                        routerLink="/basic-info-pending" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="Basic Info Pending">
                        Basic Info Pending  ({{getRecord(1)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
                    <a 
                        routerLink="/scheduling-pending" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="Scheduling Pending">
                        Scheduling Pending  ({{getRecord(2)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
                    <a 
                        routerLink="/interview-pending" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="Interview Pending">
                        Interview Pending  ({{getRecord(3)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
                    <a 
                        routerLink="/documents-upload-pending" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="Documents Upload Pending">
                        Documents Upload Pending  ({{getRecord(4)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
                    <a 
                        routerLink="/other-docs-pending" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="Other Docs Pending">
                        Other Docs Pending  ({{getRecord(5)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
                    <a 
                        routerLink="/preparation-pending" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="Preparation Pending">
                        Preparation Pending  ({{getRecord(6)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
                    <a 
                        routerLink="/pre-synopsys-pending" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="Pre-Synopsys Pending">
                        Pre-Synopsys Pending  ({{getRecord(16)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
                    <a 
                        routerLink="/synopsys-pending" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="Synopsys Pending">
                        Synopsys Pending  ({{getRecord(7)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
                    <a 
                        routerLink="/payment-pending" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="Payment Pending">
                        Payment Pending  ({{getRecord(8)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
                    <a 
                        routerLink="/review-upload-pending" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="Review Upload Pending">
                        Review Upload Pending  ({{getRecord(9)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
                    <a 
                        routerLink="/review-confirmation-pending" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="Review Confirmation Pending">
                        Review Confirmation Pending  ({{getRecord(10)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin || isAdmin">
                    <a 
                        routerLink="/e-filing-pending" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="E Filing Pending">
                        E Filing Pending  ({{getRecord(11)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a 
                        routerLink="/p-filing-pending" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="P Filing Pending">
                        P Filing Pending  ({{getRecord(12)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a 
                        routerLink="/e-filing-complete" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="E Filing Complete">
                        E Filing Complete  ({{getRecord(13)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a 
                        routerLink="/p-filing-docs" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="P Filing Docs">
                        P Filing Docs  ({{getRecord(14)}})
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a 
                        routerLink="/files-cancelled" 
                        class="nav-link active" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="right" 
                        title="Files Cancelled">
                        Files Cancelled  ({{getRecord(15)}})
                    </a>
                </li>
                <!-- <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="icon"><i class="fas fa-user"></i></span> Profile Information</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="taxpayerinfo.html">Tax Payer Info</a>
                        </li>
                        <li>
                            <a href="spouseinfo.html">Spouse Info</a>
                        </li>
                        <li>
                            <a href="dependents.html">Dependents (If any)</a>
                        </li>
                        <li>
                            <a href="employer.html">Employer Info</a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </nav>
    </ng-template>
        <div id="content">
            <ng-template [ngIf]="authService.isAuthenticated()">
                <div class="text-center MLogo"><img src="{{getLogo()}}"></div>
                <div class="TopBar">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <button type="button" id="sidebarCollapse" class="navbar-btn toggleBtn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-align-justify"></i>
                            </button>
                            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                                <ul class="nav navbar-nav ml-auto">
                                    <li class="nav-item mr-4" routerLinkActive="active">
                                        <a 
                                            routerLink="/login-history" 
                                            class="nav-link" 
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="right" 
                                            title="History">
                                            Login History
                                        </a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <form [formGroup]="yearForm" class="mr-4">
                                            <select class="nav-link dropdown-toggle form-control" formControlName="yearControl"
                                                role="button" name="year_" (change)="changeYear($event)">
                                                <option *ngFor="let year of years" [value]="year.utstaxyear">
                                                    <a class="dropdown-item"> {{year.dutstaxyear}}</a>
                                                </option>
                                            </select>
                                        </form>
                                    </li>

                                    <li class="nav-item" routerLinkActive="active" *ngIf="isSuperAdmin" >
                                        <a 
                                            routerLink="/payments" 
                                            class="nav-link" 
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="right" 
                                            title="Payments">
                                            Payments
                                        </a>
                                    </li>

                                    <li class="nav-item" routerLinkActive="active">
                                        <a 
                                            routerLink="/referrals" 
                                            class="nav-link" 
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="right" 
                                            title="Referrals">
                                            Referrals
                                        </a>
                                    </li>
                                    <li class="nav-item" routerLinkActive="active">
                                        <a 
                                            routerLink="/comments" 
                                            class="nav-link" 
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="right" 
                                            title="Comments">
                                            Comments
                                        </a>
                                    </li>
                                    <li class="nav-item" routerLinkActive="active">
                                        <a 
                                            routerLink="/emails" 
                                            class="nav-link" 
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="right" 
                                            title="Emails">
                                            Emails
                                        </a>
                                    </li>
                                    
                                    <li class="nav-item" routerLinkActive="active">
                                        <a 
                                            routerLink="/to-call" 
                                            class="nav-link mr-4" 
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="right" 
                                            title="Want us to call">
                                            Want Us To Call
                                        </a>
                                    </li>
                                   
                                    <li class="nav-item">
                                        <div class="dropdown">
                                            <a class="btn Profile dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="{{getProfile()}}">
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" 
                                                    routerLink="/change-password">
                                                    Change Password
                                                </a>
                                                <a  *ngIf="isSuperAdmin"
                                                    routerLink="/site-settings" 
                                                    class="dropdown-item" >
                                                    Site Settings
                                                </a>
                                                <a class="dropdown-item" href="#" (click)="onLogout()" >Logout</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </ng-template>
            <div class="p-3">
                <ng-template  [ngIf]="authService.isAuthenticated()">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Library</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Users</li>
                        </ol>
                    </nav>
                </ng-template>
                <router-outlet></router-outlet>
            </div>
        </div>
</div>
<div class="overlay"></div>