<h2>Set Mobile Number</h2>
<form [formGroup]="form">
    <div class="white-box p-3">
        <h6>Update mobiile number</h6>
        <div class="form-group">
            <label>Users:</label>
            <select id="client_id_mobile" class="form-control form-select select2" onchange="onchange_value(this)"
                role="button" name="client_id_mobile">
                <option value="">Select User</option>
                <option *ngFor="let user of userList2; let i = index;" [value]="user.user_id">
                    <a class="dropdown-item"> {{user.user_name}} ({{user.email}})</a>
                </option>
            </select>
            <div id="client_id_mobile_error" *ngIf="client_id_error" class="error">
              Please Select
            </div>
        </div>
        <div class="form-group">
            <label>Update Mobile Number:</label>
            <div class="row">
                <div class="col-md-3">
                    <select formControlName="phone_ext" class="dropdown-toggle form-control form-select" (change)="changeFriendCountry($event)">
                      <option value="">Select</option>
                      <option value="US">
                            +1
                        </option>
                        <option value="INDIA">
                            +91
                        </option>
                    </select>
                 </div>
                 <div class="col-md-9">
                    <input type="tel" *ngIf="isFriendIndian" class="form-control" placeholder="Mobile Number Eg: 00000-00000" formControlName="mobilenumber" mask="00000-00000">
                    <input type="tel" *ngIf="!isFriendIndian" class="form-control" placeholder="Mobile Number Eg: (000)-000-0000" formControlName="mobilenumber" mask="(000)-000-0000">
                    <div *ngIf="f.mobilenumber?.errors" class="error">
                        <div *ngIf="f.mobilenumber.errors?.required && f.mobilenumber.touched">Mobile number is required.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <span class="error">{{failed}} </span>
            <span class="success">{{success}}</span>
        </div>
        <button type="button" (click) = "saveProcess()" class="btn btn-primary mr-2">Update</button>
        <!-- <button type="button" class="btn btn-secondary">Cancel</button> -->
    </div>
</form>
