<div class="" >
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Analyst Details</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="form-group">
                            <label>Name :</label>
                            {{analystinfo?.user_name}}
                        </div>
                        <div class="form-group">
                            <label>Email :</label>
                            {{analystinfo?.email}}
                        </div>
                        <div class="form-group">
                            <label>Password :</label>
                            {{analystinfo?.locked_pwd}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Edit Analyst</h5>
                </div>
                <form [formGroup]="updateprofileForm">
                    <div class="card-body pt-0">
                      <div class="widget-49">
                          <div class="form-group">
                              <label>Name :</label>
                              <input type="text" placeholder='Name' class="form-control col-lg-8" formControlName = "user_name">
                              <span *ngIf="f.user_name?.errors?.required && f?.user_name?.touched"
                              class="font-13 error-color" style="color:red;">User name is required</span>
                            </div>
                          <div class="form-group">
                              <label>New Password :</label>
                              <input type="password" placeholder='New Passowrd'  class="form-control col-lg-8" formControlName = "newpassword">
                              <span *ngIf="updateprofileForm?.controls?.newpassword?.errors?.required && updateprofileForm?.controls?.newpassword?.touched"
                              class="font-13 error-color" style="color:red;">New password is required</span>
                          </div>
                          <div class="form-group">
                              <label>Confirm Password :</label>
                              <input type="password" placeholder='Confirm Passowrd'  class="form-control col-lg-8" formControlName = "confirmpassword">
                              <span style="color:red;" *ngIf="updateprofileForm?.controls?.confirmpassword?.errors?.required && updateprofileForm?.controls?.confirmpassword?.touched"
                              class="font-13 error-color confirmpasswordvalid">Confirm Password is required</span>
                              <span *ngIf="confirmpasswordflag" class="error-color" style="color:red;">New password and confirm password is not match.</span>
                            </div>
                          <span class="success"> {{success}} </span>
                          <span class="error"> {{failed}} </span>
                      </div>
                      <button type="button" class="btn btn-primary mr-2" (click) = "updateProfile()">Submit</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
