<div class="admin d-flex flex-column min-vh-100"> 
    <app-user-navbar></app-user-navbar>
    <main>
        <app-user-topbar></app-user-topbar>
        <div class="SecTabs pb-3">
            <a href="javascript:void(0)" [ngClass]="{'active' : selectedProfileTab === 'tax-payer'}" (click)="profileTab('tax-payer')" >Tax Payer Info</a>
            <a href="javascript:void(0)" [ngClass]="{'active' : selectedProfileTab === 'spouse'}" (click)="profileTab('spouse')"  >Spouse Info</a>
            <a href="javascript:void(0)" [ngClass]="{'active' : selectedProfileTab === 'dependents'}" (click)="profileTab('dependents')"  >Dependents (If any)</a>
            <a href="javascript:void(0)" [ngClass]="{'active' : selectedProfileTab === 'employer'}" (click)="profileTab('employer')"  >Employer Info</a>
        </div>
        <div *ngIf="selectedProfileTab === 'tax-payer'" class="WhiteBox">
            <app-taxpayer-info></app-taxpayer-info>
        </div>
        <div *ngIf="selectedProfileTab === 'spouse'" class="WhiteBox">
            <app-spouse-info></app-spouse-info>
        </div>
        <div *ngIf="selectedProfileTab === 'dependents'" class="WhiteBox">
            <app-dependents></app-dependents>
        </div>
        <div *ngIf="selectedProfileTab === 'employer'" class="WhiteBox">
            <app-employer-info></app-employer-info>
        </div>
    </main>
</div>
